body {
  font-family: Arial;
}

.aligned {
  text-align: center;
}

.cardBikeCar {
  background-color: black;
  padding: 30px;
  margin: 50px;
  border: 1px solid black;
  border-radius: 4px;
}

.btnComprar {
  background-color: #febe01;
  border: 1px solid #febe01;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}

.whiteText {
  color: white;
}

.goldenText {
  color: #febe01;
}

.grayP {
  color: #b2b2b2;
}

.blackText {
  color: #332200;
}

.marginInside {
  margin: 20px;
}

h2 {
  margin: 0px;
}
